

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Covid Testing Center</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medizin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <!-- Bootstrap-Core-CSS -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/slider.css')}}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
        <!-- mian-content -->
        <div class="main-w3layouts-header-sec">

            <!-- header -->
            <header>
                <div class="container">
                    <div class="header d-lg-flex justify-content-between align-items-center">
                        <div class="header-section">
                            <h1>
                                <a class="navbar-brand logo editContent" href="/">
                                    <span class="fa fa-meetup"></span>Covid 19 Center
                                </a>
                            </h1>
                        </div>
                        <div class="nav_section">
                            <nav>
                                <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
                                <input type="checkbox" id="drop" />
                                <ul class="menu">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/covid-testing">Covid Testing </a></li>
                                    <li><a href="/login">Login </a></li>

                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </header>
            <!-- //header -->
            <!-- banner -->
            <section class="banner_w3pvt" id="home">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1" />
                    <input type="radio" name="slides" id="slides_2" />
                    <input type="radio" name="slides" id="slides_3" />
                    <input type="radio" name="slides" id="slides_4" />
                    <ul>
                        <li>
                            <div class="banner-top">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="banner-info">
                                            <div class="banner-w3layouts-inner">
                                                <h3>We care and protect <span>your </span> health.</h3>
                                                <h4>We will help to find health, to everyone.</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top1">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="banner-info">
                                            <div class="banner-w3layouts-inner">
                                                <h3>We do our best for you and <span>your </span> health.</h3>
                                                <h4>We will help to find health, to everyone.</h4>
                                                <a href="single.html" class="read btn mt-3">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top2">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="banner-info">
                                            <div class="banner-w3layouts-inner">
                                                <h3>We care and protect <span>your </span> health.</h3>
                                                <h4>We will help to find health, to everyone.</h4>
                                                <a href="single.html" class="read btn mt-3">Read More</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top3">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="banner-info">
                                            <div class="banner-w3layouts-inner">
                                                <h3>We do our best for you and <span>your </span> health.</h3>
                                                <h4>We will help to find health, to everyone.</h4>
                                                <a href="single.html" class="read btn mt-3">Read More</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="arrows">
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div>
                </div>
            </section>
            <!-- //banner -->



        </div>
        <!-- //header -->
        <!--/banner-bottom -->
        <section class="banner-bottom py-5">
            <div class="container-fluid inner-sec-w3ls">
                <div class="feature-grids row text-center">
                    <div class="col-lg-3 gd-bottom one">
                        <div class="bottom-gd">
                            <span class="fa fa-wheelchair" aria-hidden="true"></span>
                            <h3 class="mb-2">Modern Equipment</h3>
                            <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-user-md" aria-hidden="true"></span>
                            <h3 class="mb-2">
                                Famous Doctors</h3>
                            <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>

                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-life-ring" aria-hidden="true"></span>
                            <h3 class="mb-2">Health Monitoring</h3>
                            <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                            <h3 class="mb-2">Booking a Visit</h3>
                            <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //banner-bottom -->
        <!-- /last-content -->
</body>
</body>

</html>
